body {

}

.block {
    background-color: #325ca8;
    color: white;
    padding: 30px;
    margin: 10px;
}

ul {
    border-style: groove;
    border-color: white;
    border-radius: 5px;
}

li {
    list-style: none;
    padding: 50px;
}