.mainPartyWindow {
    grid-column-start: margin1;
    grid-column-end: margin2;
    grid-row-start: line1;
    grid-row-end: margin2;
    background-color: #325ca8;
    border-style: groove;
    border-color: white;
    border-radius: 15px;
    border-width: 5px;
}

.character {
    width: 80%;
    color: white;
    padding: 30px;
    background-color: #325ddd;
}

li {
    list-style: none;
}

/* Must have viewport of at least 600px wide */