.mainPartyWindow {
    background-color: #325ca8;
    border-style: groove;
    border-color: white;
    border-radius: 5px;
}

.character {
    color: white;
    padding: 30px;
    background-color: #325ddd;
}

li {
    list-style: none;
}