.statusMain {
    display: grid;
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: row1;
    grid-row-end: bottom;
    grid-template-columns: 0 [start] 10% [leftarrow] 80% [rightarrow] 10% [end];
    grid-template-rows: 0 [top] 100% [bottom];
}

.leftarrow, .rightarrow {
    display: grid;
    align-items: center;
    grid-row-start: top;
    grid-row-end: bottom;
    justify-items: center;
}

.leftarrow {
    grid-column-start: start;
    grid-column-end: leftarrow;
}

.statusCharacter {
    grid-column-start: leftarrow;
    grid-column-end: rightarrow;
    grid-row-start: top;
    grid-row-end: bottom;
}

.rightarrow {
    grid-column-start: rightarrow;
    grid-column-end: end;
}

.arrow {
    height: 50px;
    width: 50px;
}