.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2% [margin1] 78% [margin2] 20% [end];
    grid-template-rows: 2% [margin1] 3% [line1] 75% [line2] 5% [line3] 5% [margin2] 10%;
}