.statusContainer {
    width: 1300px;
    height: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: 0 [start] 10% [col1] 90% [end];
    grid-template-rows: 0 [top] 10% [row1] 90% [bottom];
}

@media (max-width: 1300px) {
    .statusContainer {
        display: none;
    }
}