.MainMenu {
    grid-column-start: overlap1;
    grid-column-end: end;
    grid-row-start: margin1;
    grid-row-end: mid;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-top: 30px;
}

li a, a:visited {
    text-decoration: none;
    color: white;
}