@font-face {
  font-family: Reactor7;
  src: url(Reactor7.woff);
}

.App {
  text-align: center;
  font-family: Reactor7;
  background-color: black;
}

.window {
  background: linear-gradient(135deg, #325ca8, black);
  border-style: groove;
  border-color: white;
  border-radius: 15px;
  border-width: 5px;
  font-size: 40px;
}