.responsive {
    height: 98vh;
    width: 90%;
    margin: auto;
    display: none;
}

.responsive img {
    margin-top: 100px;
}

@media (max-width: 1300px) {
    .responsive {
        display: block;
    }
}